@import "basefiles/base";
// Import Bootstrap Compass integration

html, body {
  font-family: "PT Serif", helvetica, sans-serif;
    // background: url('../img/homepage_legend_concept_02.png') no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // background-size: cover;
    // -o-background-size: cover;
  
}
$blue-black: #16242B;
$soft-hue-black: #1f242a;
$hover-orange: rgb(194,97,20);
$bg-gray: #39424D;      
$red:#BA0303;
$link-green: #6DBB51;

.red{background-color:$red;}

.lborder{border-left: 1px solid #ccc;}
.rborder{border-right: 1px solid #ccc;}
.tborder{border-top: 1px solid #ccc;}
.bborder{border-bottom: 1px solid #ccc;}
.fborder{border: 1px solid #ccc;}

#featured{
	margin-top:40px;
  @include screen(0px, 767px) {
    display: none;
  }
}

#abfeat{height:350px;}
#abfeatlist{height:350px;}
// #feat3{height:450px;}
// #feat4{height:450px;}

#adfeat1{height: 200px;}
#adfeat2{height: 200px;}

#featured-bar{
  min-height: 350px;
  background-color: $bg-gray;
}

#featured-bar-single{
  min-height: 200px;
  background-color: $red;
}


#header_ad{
  height:90px;
  width:728px;
  display: block;
  float: right;
}

#sidebar-toggle{
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  .row{
    display: table; 
    width:100%; 
    margin-left: 0px; 
    margin-right: 0px;
  }
}

// [class*="col-"] {
//     float: none;
//     display: table-cell;
//     vertical-align: top;
// }

.s-togl{
  padding-top: 15px;
  padding-bottom: 15px;
}

.blog-masthead {
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
 
}

.spacer{
  height:75px;
}
.spacer45{
  height:45px;
}

.read-more{
  //border: 1px solid #FF0066;
  //padding: 2px;
  //width: 220px;
  //text-align: center;
  margin-left: 10px;
}
    

#header, #footer, #subfooter{
  background-color: $soft-hue-black;
  padding-top: 20px;
  padding-bottom: 20px;
}

#logo, #menu-main-menu, #navigation-sidebar{
  font-family: montserratregular, "Helvetica Neue", sans-serif;
}



#navigation-sidebar li, #navigation-sidebar h2{
  padding-bottom: 10px;
}

#navigation-sidebar h2{
  font-size: 20px;
  margin-top: 20px;
}

.square-add, .big-square-add{
  border: 1px solid #cecece;
  margin: 10px;
}

.big-square-add{
  height: 240px;
  width: 340px;
}
.square-add{
  height: 100px;
  width: 165px;
  display: block;
}

.post h2 a.entry-title {
  color: rgb(194,97,20);
  text-decoration: none;
}

#logo{
  background: url('../img/logo.svg') no-repeat center center;
  background-size: 145px 45px;
  font-size: 18px;
  border: 1px solid #cecece;
  height:53px;
  width:164px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-indent: -9999px;
  @include screen(0px, 599px) {
    
  } 
}
#logo-icon{
  display: none;
  @include screen(0px, 599px) {
    background: url('../img/logo_icon.svg') no-repeat center center;
    border: none;
    background-size: 87px 87px;
    height: 87px;
    width: 87px;
    margin-left: auto;
    margin-right: auto;
  } 
}






#newscat-bar{background-color: $red; height: auto;}
#newscat-menu{
  float: left;
  ul{ position: relative;
      padding: 0px;
      font-size: 0;

  li{ padding: 0px; 
      margin: 0px;
      display: inline-block;
      position: relative;
    a{  
        padding: 6px 20px;
        margin: 0px; 
        background-color: $red;
        color: #fff;
        display: block;
        font-size: 14px;   
      }
   }
   } 
}

#menu-main-menu{
  float: left;
  margin-top: 18px;
  li{ padding: 0px; margin: 0px -2px;
    a{
      padding: 40px 20px 22px; 
      background-color: $soft-hue-black;
      color: #fff;   
    }
    a:hover{
      background-color: rgb(194,97,20);
      text-decoration: none;
      //border: 1px solid rgb(148,7,0); 
    }
    display: inline-block;
  }
  @include screen(0px, 599px) {
    display: none;  
  } 
}
#social-top{
  height: 40px; border: 1px solid #fff;
  @include screen(0px, 599px) {
    display: none;  
  } 
}


















