@import "basefiles/base";
// Import Bootstrap Compass integration

html, body {
  font-family: "PT Serif", helvetica, sans-serif;
    // background: url('../img/homepage_legend_concept_02.png') no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // background-size: cover;
    // -o-background-size: cover;
  background-color:#39424D;
}

$red:#BA0303;

.red{background-color:$red;}

.lborder{border-left: 1px solid #ccc;}
.rborder{border-right: 1px solid #ccc;}
.tborder{border-top: 1px solid #ccc;}
.bborder{border-bottom: 1px solid #ccc;}
.fborder{border: 1px solid #ccc;}

#featured{
	margin-top:40px;
  @include screen(0px, 767px) {
    display: none;
  }
}

#feat1{height:450px}
#feat2{height:300px}
// #feat3{height:450px}
// #feat4{height:450px}


#header_ad{
  height:90px;
  width:728px;
  display: block;
  float: right;
}

#sidebar-toggle{
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  .row{
    display: table; 
    width:100%; 
    margin-left: 0px; 
    margin-right: 0px;
  }
}

// [class*="col-"] {
//     float: none;
//     display: table-cell;
//     vertical-align: top;
// }

.s-togl{
  padding-top: 15px;
  padding-bottom: 15px;
}

.blog-masthead {
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
 
}

.spacer{
  height:75px;
}
.spacer45{
  height:45px;
}

.read-more{
  //border: 1px solid #FF0066;
  //padding: 2px;
  //width: 220px;
  //text-align: center;
  margin-left: 10px;
}

#header, #footer, #subfooter{
  background-color: #171B1F;
  padding-top: 20px;
  padding-bottom: 20px;
}
#logo{
  font-family: montserratregular, "Helvetica Neue", sans-serif;
  font-size: 18px;
  border: 1px solid #fff;
  height:40px;
  width:180px;
  display: block;
  @include screen(0px, 599px) {
    
  } 
}
#menu-main-menu{
  float: left;
  margin-top: 18px;
  li{ padding: 0px; margin: 0px -2px;
    a{
      padding: 40px 20px 22px; 
      background-color: rgb(57,66,77);
      color: #fff;   
    }
    a:hover{
      background-color: #EA6936;
      text-decoration: none;
      //border: 1px solid rgb(148,7,0); 
    }
    display: inline-block;
  }
  @include screen(0px, 599px) {
    display: none;  } 
}
#social-top{height: 40px; border: 1px solid #fff;}


















