/* line 1, ../sass/125ads.scss */
.cluster {
  padding-bottom: 30px;
}

/* line 4, ../sass/125ads.scss */
.otf-list {
  display: block;
  text-align: center;
}

/* line 8, ../sass/125ads.scss */
.otf-item {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}

/* line 13, ../sass/125ads.scss */
.otf-item-wide {
  display: inline-block;
  margin-top: 10px;
}

/* line 17, ../sass/125ads.scss */
.otf-large-rectangle {
  display: block;
  width: 336px;
  height: 280px;
}

/* line 23, ../sass/125ads.scss */
.otf-medium-rectangle {
  display: block;
  width: 300px;
  height: 250px;
}

/* line 29, ../sass/125ads.scss */
.otf-rectangle {
  display: block;
  width: 180px;
  height: 150px;
}

/* line 35, ../sass/125ads.scss */
.otf-3to1-rectangle {
  display: block;
  width: 300px;
  height: 100px;
  float: right;
  margin-top: 10px;
}

/* line 43, ../sass/125ads.scss */
.otf-square-button {
  display: block;
  width: 125px;
  height: 125px;
}
