/* line 5, ../../../../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/site.scss */
html, body {
  font-family: "PT Serif", helvetica, sans-serif;
  background-color: #39424D;
}

/* line 16, ../sass/site.scss */
.red {
  background-color: #BA0303;
}

/* line 18, ../sass/site.scss */
.lborder {
  border-left: 1px solid #ccc;
}

/* line 19, ../sass/site.scss */
.rborder {
  border-right: 1px solid #ccc;
}

/* line 20, ../sass/site.scss */
.tborder {
  border-top: 1px solid #ccc;
}

/* line 21, ../sass/site.scss */
.bborder {
  border-bottom: 1px solid #ccc;
}

/* line 22, ../sass/site.scss */
.fborder {
  border: 1px solid #ccc;
}

/* line 24, ../sass/site.scss */
#featured {
  margin-top: 40px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  /* line 24, ../sass/site.scss */
  #featured {
    display: none;
  }
}

/* line 31, ../sass/site.scss */
#feat1 {
  height: 450px;
}

/* line 32, ../sass/site.scss */
#feat2 {
  height: 300px;
}

/* line 35, ../sass/site.scss */
#logo {
  font-family: montserratregular, "Helvetica Neue", sans-serif;
  font-size: 28px;
}
@media screen and (min-width: 0px) and (max-width: 599px) {
  /* line 35, ../sass/site.scss */
  #logo {
    height: 90px;
    width: 100%;
    font-size: 25px;
  }
}

/* line 45, ../sass/site.scss */
#header_ad {
  height: 90px;
  width: 728px;
  display: block;
  float: right;
}

/* line 52, ../sass/site.scss */
#sidebar-toggle {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
/* line 56, ../sass/site.scss */
#sidebar-toggle .row {
  display: table;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

/* line 70, ../sass/site.scss */
.s-togl {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 75, ../sass/site.scss */
.blog-masthead {
  -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* line 81, ../sass/site.scss */
.spacer {
  height: 75px;
}

/* line 84, ../sass/site.scss */
.spacer45 {
  height: 45px;
}

/* line 88, ../sass/site.scss */
.read-more {
  margin-left: 10px;
}

/* line 95, ../sass/site.scss */
#header, #footer, #subfooter {
  background-color: #171B1F;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 101, ../sass/site.scss */
#menu-main-menu {
  float: right;
}
/* line 103, ../sass/site.scss */
#menu-main-menu li {
  display: inline-block;
}
/* line 104, ../sass/site.scss */
#menu-main-menu li a {
  padding: 50px 20px 10px;
  border: 1px solid #fff;
}
