.cluster{
	padding-bottom: 30px;
}
.otf-list{
	display: block;
	//border: 1px solid #cecece;
	text-align: center;
}
.otf-item{
	display: inline-block;
	border: 1px solid #cecece;
	margin-left: 10px;
	margin-top: 10px;
}
.otf-adlink{
	display: block;
	width: 150px;
	height: 135px;
}






