/* line 5, ../../../../../../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../.rvm/gems/ruby-2.0.0-p643/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/site.scss */
html, body {
  font-family: "PT Serif", helvetica, sans-serif;
}

/* line 20, ../sass/site.scss */
.red {
  background-color: #BA0303;
}

/* line 22, ../sass/site.scss */
.lborder {
  border-left: 1px solid #ccc;
}

/* line 23, ../sass/site.scss */
.rborder {
  border-right: 1px solid #ccc;
}

/* line 24, ../sass/site.scss */
.tborder {
  border-top: 1px solid #ccc;
}

/* line 25, ../sass/site.scss */
.bborder {
  border-bottom: 1px solid #ccc;
}

/* line 26, ../sass/site.scss */
.fborder {
  border: 1px solid #ccc;
}

/* line 28, ../sass/site.scss */
#featured {
  margin-top: 40px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  /* line 28, ../sass/site.scss */
  #featured {
    display: none;
  }
}

/* line 35, ../sass/site.scss */
#abfeat {
  height: 350px;
}

/* line 36, ../sass/site.scss */
#abfeatlist {
  height: 350px;
}

/* line 40, ../sass/site.scss */
#adfeat1 {
  height: 200px;
}

/* line 41, ../sass/site.scss */
#adfeat2 {
  height: 200px;
}

/* line 43, ../sass/site.scss */
#featured-bar {
  min-height: 350px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #39424D;
}

/* line 50, ../sass/site.scss */
#featured-bar-single {
  min-height: 200px;
  background-color: #BA0303;
}

/* line 56, ../sass/site.scss */
#header_ad {
  height: 90px;
  width: 728px;
  display: block;
  float: right;
}

/* line 63, ../sass/site.scss */
#sidebar-toggle {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
/* line 67, ../sass/site.scss */
#sidebar-toggle .row {
  display: table;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

/* line 81, ../sass/site.scss */
.s-togl {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 86, ../sass/site.scss */
.blog-masthead {
  -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* line 92, ../sass/site.scss */
.spacer {
  height: 75px;
}

/* line 95, ../sass/site.scss */
.spacer45 {
  height: 45px;
}

/* line 99, ../sass/site.scss */
.read-more {
  margin-left: 10px;
}

/* line 107, ../sass/site.scss */
.cleanpad {
  padding: 0px;
}

/* line 111, ../sass/site.scss */
#header, #footer, #subfooter, #footer-fluid {
  background-color: #1f242a;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 117, ../sass/site.scss */
#footer {
  padding-top: 60px;
  color: #fff;
}
/* line 120, ../sass/site.scss */
#footer .link-column li {
  padding-bottom: 10px;
}

/* line 125, ../sass/site.scss */
#logo, #menu-main-menu, #navigation-sidebar {
  font-family: montserratregular, "Helvetica Neue", sans-serif;
}

/* line 129, ../sass/site.scss */
#navigation-sidebar li, #navigation-sidebar h2 {
  padding-bottom: 10px;
}

/* line 133, ../sass/site.scss */
#navigation-sidebar h2 {
  font-size: 20px;
  margin-top: 20px;
}

/* line 138, ../sass/site.scss */
.square-ad, .big-square-ad, .vertical-ad {
  border: 1px solid #cecece;
  margin-bottom: 15px;
}

/* line 143, ../sass/site.scss */
.vertical-ad {
  height: 540px;
  width: 170px;
}

/* line 147, ../sass/site.scss */
.sidebar-left {
  float: left;
}

/* line 151, ../sass/site.scss */
.square-ad {
  height: 100px;
  width: 165px;
  display: block;
  margin: 5px;
}

/* line 158, ../sass/site.scss */
.sidebar-right {
  float: right;
}
/* line 161, ../sass/site.scss */
.sidebar-right .big-square-ad {
  height: 240px;
  width: 350px;
  float: right;
}
/* line 167, ../sass/site.scss */
.sidebar-right .square-ad {
  float: right;
}

/* line 174, ../sass/site.scss */
h1.blog-post-title {
  font-size: 36px;
}

/* line 178, ../sass/site.scss */
.post h2 a.entry-title {
  color: #c26114;
  text-decoration: none;
}

/* line 183, ../sass/site.scss */
#logo {
  background: url("../img/logo.svg") no-repeat center center;
  background-size: 145px 45px;
  font-size: 18px;
  border: 1px solid #cecece;
  height: 53px;
  width: 164px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-indent: -9999px;
}

/* line 198, ../sass/site.scss */
#logo-icon {
  display: none;
}
@media screen and (min-width: 0px) and (max-width: 599px) {
  /* line 198, ../sass/site.scss */
  #logo-icon {
    background: url("../img/logo_icon.svg") no-repeat center center;
    border: none;
    background-size: 87px 87px;
    height: 87px;
    width: 87px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 213, ../sass/site.scss */
#newscat-bar {
  background-color: #BA0303;
  height: auto;
}

/* line 215, ../sass/site.scss */
#newscat-menu {
  float: left;
}
/* line 217, ../sass/site.scss */
#newscat-menu ul {
  position: relative;
  padding: 0px;
  font-size: 0;
}
/* line 221, ../sass/site.scss */
#newscat-menu ul li {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  position: relative;
}
/* line 225, ../sass/site.scss */
#newscat-menu ul li a {
  padding: 6px 20px;
  margin: 0px;
  background-color: #BA0303;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 400;
}

/* line 238, ../sass/site.scss */
#menu-main-menu {
  float: left;
  margin-top: 18px;
}
/* line 241, ../sass/site.scss */
#menu-main-menu li {
  padding: 0px;
  margin: 0px -2px;
  display: inline-block;
}
/* line 242, ../sass/site.scss */
#menu-main-menu li a {
  padding: 40px 20px 22px;
  background-color: #1f242a;
  color: #fff;
}
/* line 247, ../sass/site.scss */
#menu-main-menu li a:hover {
  background-color: #c26114;
  text-decoration: none;
}
@media screen and (min-width: 0px) and (max-width: 599px) {
  /* line 238, ../sass/site.scss */
  #menu-main-menu {
    display: none;
  }
}

/* line 258, ../sass/site.scss */
#social-top {
  height: 40px;
  border: 1px solid #fff;
}
@media screen and (min-width: 0px) and (max-width: 599px) {
  /* line 258, ../sass/site.scss */
  #social-top {
    display: none;
  }
}
